.chart_main_div {
  display: flex;
  flex-flow: column;
  max-width: 320px;
  padding: 20px;
  /* border: 2px solid goldenrod; */
}

@media (min-width: 768px) {
  .chart_main_div {
    width: 768px;
    /* border: 1px solid black; */
  }
}

@media (min-width: 1280px) {
  .chart_main_div {
    width: 320px;
    /* border: 1px solid black; */
  }
}
