/* :root {
  --bg-color-white: #ffffff;
  --bg-color-grey: #f3f6f6;
  --bg-colot-darkgrey: #f2ecf4;
  --bg-color-blue: #284060;

  --text-color-white: #ffffff;
  --text-color-grey: #7f8e94;
  --text-colot-darkgrey: #39424a;
  --text-color-black: #282828;
  --text-color-blue: #415b7d;
  --text-color-orange: #ff6c00;

  --bg-color-icon: #2e4665;
  --bg-color-icon-active: #708096;
  --color-icon-wallet: #758397;
  --color-text-tablet: #778388;
  --ligth-grey-fonts: #6b7d83;
  --bg-active-link: #415b7d;

  --bg-color-button: #415b7d;
  --bg-color-button-active: #ff6c00;
  --scroll-thumb: #657890;

  --logo-fonts: "BauhausCMediumBold",Tahoma,Geneva,Verdana,sans-serif;
  --finance-fonts: "BauhausCMediumRegular",Tahoma,Geneva,Verdana,sans-serif;
  --bold-fonts: "HelveticaNeueCyrBold",Tahoma,Geneva,Verdana,sans-serif;
  --regular-fonts: "HelveticaNeueCyrRoman",Tahoma,Geneva,Verdana,sans-serif;
  --light-fonts: "HelveticaNeueCyrLight",Tahoma,Geneva,Verdana,sans-serif;
} */
