.dashboardWrap {
  display: flex;
  flex-flow: column;
  font-family: 'Helvetica Bold';
  font-weight: 700;
  font-style: bold;
  background-color: #edeff3;
}

@media (min-width: 1024px) {
  .dashboardWrap {
    background-color: #f9fafc;
  }

  .main {
    display: flex;
    padding: 0 40px;
  }
  .wrapLeftBar {
    width: 30%;
    margin-right: 30px;
  }
  .tabsWrap {
    width: 70%;
    background-color: rgb(217, 219, 219);
  }
}
