.wrapNav {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 8px 0;
  background-color: #3a5374;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px -4px #3a5374;
}

.link {
  text-decoration: none;
  content: '';
  display: block;
}
.icons {
  border-radius: 5px;
  margin: 0 7px;
  background-color: #284060;
  fill: #a9b3bf;
}
.icons:hover,
.icons:focus,
.icons:active {
  background-color: #66778e;
  fill: #fff;
}
