.table_main_div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  /* padding: 5px; */
  /* border: 1px solid blue; */
  font-family: 'Helvetica Roman';
}

.select_table {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
}

.select_options {
  width: 127px;
}

.table_main {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.color_block {
  width: 15px;
  height: 15px;
  background-color: #ecb22a;
  align-self: center;
}

.dataCell_category,
.headerCell_category {
  display: flex;
  text-align: left;
  padding: 10px 3px;
}

.headerCell_category {
  height: 50px;
}
.table_thead {
  background-color: #f3f6f6;
}

.table_thead,
.table_tr,
.table_tbody,
.table_tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table_tr {
  font-weight: 300;
}

.table_tr:not(:first-child) {
  border-top: 1px solid rgba(128, 128, 128, 0.158);
}
.table_tr:last-child {
  border-top: none;
}

.dataCell_expenses_amount {
  color: #f7a469;
}
.dataCell_expenses_amount,
.dataCell_income_amount {
  font-weight: 700;
}

.dataCell_expenses,
.dataCell_income {
  font-weight: 700;
  text-align: left;
  padding: 5px 0 5px 10px;
  border: none;
}
.table_tr:nth-child(10n) {
  border-top: 1px solid grey;
}

@media (min-width: 768px) {
  .table_main_div {
    width: 768px;
    background-color: #f0f0f0;
  }

  .table_main {
    width: 95%;
  }

  .table_thead {
    display: none;
  }
  .select_table {
    justify-content: center;
  }
  .select_options {
    width: 170px;
  }
  .select_options:first-child {
    padding-right: 10px;
  }
}

@media (min-width: 1024px) {
  .table_main_div {
    width: 360px;
    padding: 30px 0;
    background-color: #fff;
  }
  .table_thead {
    display: table;
  }

  .dataCell_expenses,
  .dataCell_income {
    padding: 2px 0;
  }
}
