.diagramTab_main_div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* width: 320px; */
}

.statistic_p {
  text-transform: uppercase;
  background-color: #3a5374;
  text-align: center;
  padding: 10px 0;
  border-radius: 4px;
  color: #fff;
}

@media (min-width: 768px) {
  .diagramTab_main_div {
    width: 768px;
    /* padding-bottom: 20px; */
    background-color: #f0f0f0;
    /* box-shadow: 10px 17.321px 40px 0px rgba(1, 1, 0, 0.15); */
  }
}

@media (min-width: 1280px) {
  .diagramTab_main_div {
    width: 100%;
    flex-flow: row;
    justify-content: center;
    background-color: #fff;
  }
  .statistic_p {
    width: 100%;
  }
}
